#error-notifcation {
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 50%;
  display: none;
  width: 15%;
  padding: 10px;
  color: #fff;
  border: 3px solid #FF0000;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
  transform: translate(-50%);

}

.error1, .error2, .error3, .error4 {
  display: none;

}
