#error-notifcation {
    display: none;
    background: rgba(0, 0, 0, 0.65);
    border: 1px solid #000000;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
    width: 350px;
    padding: 7px;
    position: fixed;
    top: 140px;
    left: 290px;
    z-index: 1200;
}
