#nav-bar .header {
    color: #e8fdff;
    font-size: 200%;
    line-height: 80px;
    padding-left: 10px;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px;
}

#nav-bar {
    background: #00a087;
    float: left;
    height: 80px;
    left: 0;
    padding: 0em 35em 0em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.compose {
    border-radius: 5px;
    border: 1px solid #000000;
    background: #8af0e0;
    float: right;
    height: 70%;
    width: 105px;
    margin-top: 12px;
}

#comPencil {

    color: #00a087;
    float: left;
    opacity: 1;

}

#comText {
    color: #00a087;
    float:
    font-family: 'Roboto', sans-serif;
    font-size: auto;
}
