#nav-bar  .header {
  font-size: 200%;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar  .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar {
  background: #00a087;
  color: #e8fdff;
  float: left;
  height: 80px;
  left: 0;
  padding: 0em 2em 0em;
  position: fixed;
  right: 0;
  top: 0;
}
